/* основной паддинг 1.5em уже в common */
.map { width:100%; height:250px; border-radius:14px; border:2px solid #222; margin-bottom:1.7em; z-index: 1; }
.instruction { font-size:1.07em; margin-bottom:1.1em; font-family:'Source Serif 4',serif; color:#555; }