.mountain-hr { height:17px; } /* или .mountain-hr--s */
.map { width:100%; height:220px; border-radius:14px; border:2px solid #222; margin-bottom:1.7em; }
.text { font-size:1.07em; margin-bottom:1.1em; font-family:'Source Serif 4',serif; color:#555; white-space:pre-line; }
.pdf-btn {
  display:inline-block; background:#fff; border:2px solid #111; border-radius:10px;
  color:#111; font-size:1.07em; font-weight:600; padding:0.72em 1.3em; margin:1em 0 1.3em 0;
  cursor:pointer; transition:background 0.14s, color 0.14s, border 0.14s; text-align:left; text-decoration:none;
}
.pdf-btn:hover, .pdf-btn:focus { background:#111; color:#fff; border-color:#111; }
.email { font-size:1.02em; margin-top:1em; text-align:center; }


/*
.pdf-btn { width:100%; background:#fff; border:2px solid #111; border-radius:10px; margin-top:1.2em;  color:#222; font-size:1.07em; font-family:'Source Serif 4',serif; font-weight:600; margin-bottom:0.7em; cursor:pointer; padding:0.7em 1.1em; text-align:left; transition:background 0.14s, color 0.14s, border 0.14s; }
*/